<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="style.css" />
		<title>Payement Application</title>
	</head>
	<body class="bg-warning text-white">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
			<div class="container">
				<a href="index.html" class="navbar-brand">
					<h3 class="d-inline align-middle">Azim Learning</h3>
				</a>
			</div>
		</nav>
		<div class="container">
			{{{body}}}
		</div>
		<!-- Footer -->
		<footer class="page-footer font-small cyan darken-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12 py-5">
						<div class="mb-5 flex-center">
							<a class="fb-ic">
								<i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
							</a>
							<a class="tw-ic">
								<i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
							</a>
							<a class="gplus-ic">
								<i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
							</a>
							<a class="li-ic">
								<i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
							</a>
							<a class="ins-ic">
								<i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
							</a>
							<a class="pin-ic">
								<i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright text-center py-3">© 2020 Copyright:
				<a href="azimansari.info"> Azim Ansari</a>
			</div>
		</footer>
	</body>
</html>